/* Main Container */

.main-container {
  max-width: 1024px;
  margin: 0 auto;
}

img, embed, object, video {
  max-width: 100%;
}

/* Header */

.parent-header {
  display: flex;
}

.parent-header .parent-nav {
  display: flex;
  vertical-align: top;
  margin-top: 40px;
  margin-left: 69px;
}

.parent-header .parent-nav a {
  margin-right: 61px;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

.parent-header .parent-nav a:hover {
  text-decoration: underline;
}

.parent-header .parent-nav a:first-child {
  margin-left: 0;
}

.parent-header .parent-nav a:last-child {
  margin-right: 0;
}

.parent-header .logo {
  margin-top: 27px;
  margin-left: 93px;
}

.parent-header .parent-nav .media-line {
  visibility: hidden;
}

/* Title Section */

.parent-title_section {
  display: flex;
  flex-direction: row;
}

.parent-title_section .child-title_section {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  font-size: 75px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.parent-title_section .child-title_section h1 {
  margin-left: 120px;
  margin-top: 7px;
  line-height: .95;
  letter-spacing: 1px;
}

.parent-title_section .child-title_section button {
  background: white;
  vertical-align: top;
  width: 170px;
  height: 35px;
  margin-left: 185px;
  margin-top: 10px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.parent-title_section .child-title_section button:hover {
  background: black;
  color: white;
}

.parent-title_section img {
  margin-top: 71px;
}

/* Main Content */

.main-content {
  border-top: 1px solid black;
  margin-top: 78px;
  margin-left: 72px;
  margin-right: 37px;
  padding-top: 39px;
}

.main-content .top-content {
  display: flex;
  flex-direction: row;
}

.main-content .top-content p {
  line-height: 1.15;
}

.main-content .top-content .text-content {
  display: flex;
  flex-direction: column;
}

.main-content .middle-img {
  margin-top: 26px;
  margin-left: 1px;
}

.main-content .bottom-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.main-content .bottom-content .text-content {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex: 1;
}

.main-content .bottom-content .text-content:last-child {
  margin-left: 8px;
}

.main-content .bottom-content p {
  line-height: 1.16;
}

/* Contact Information */

.contact-information {
  margin-top: 38px;
  margin-left: 72px;
  margin-right: 37px;
  border-top: 1px solid black;
}

.contact-information h4 {
  margin-top: 36px;
}

.contact-information p {
  margin: 15px 0;
}

/* Footer */

footer {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 16px;
}

/* Media Query @800PX */

@media (max-width: 800px) {

/* Main Container @800PX */
  .main-container {
      max-width: 800px;
      margin: 0 auto;
  }

/* Header Section @800PX */
  .parent-header {
    flex-direction: column-reverse;
    width: 100%;
  }

  .parent-header .parent-nav {
    margin-left: 30px;
  }

  .parent-header .parent-nav a {
    margin-right: 81px;
  }

  .parent-header .logo {
    width: 185px;
    margin-left: 310px;
    margin-top: 30px;
  }

  .parent-header .parent-nav .media-line {
    visibility: hidden;
  }

/* Title Section @800PX */
  .parent-title_section .child-title_section h1 {
    margin-left: 173px;
    margin-top: -47px;
  }

  .parent-title_section .child-title_section button {
    width: 170px;
    height: 35px;
    margin-left: 240px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
  }

  .parent-title_section img {
    display: none;
  }

/* Main Section @800PX */
  .main-content {
    margin-top: 75px;
  }

  .main-content .top-content:first-child {
    margin-left: -45px;
    margin-right: -58px;
  }

  .main-content .top-content:first-child h4 {
    margin-top: -3px;
  }

  .main-content .top-content p {
    line-height: 1.15;
    margin-right: 25px;
  }

  .main-content .top-content .text-content {
    flex-flow: column wrap;
  }

  .main-content .middle-img {
    margin-top: 32px;
  }

  .main-content .bottom-content {
    margin-top: 50px;
  }

  .main-content .bottom-content .text-content:first-child {
    margin-left: -45px;
    margin-right: 68px;
  }

  .main-content .bottom-content .text-content:last-child {
    margin-left: 55px;
  }

  .main-content .bottom-content .text-content {
    flex-flow: column wrap;
  }

  .main-content .bottom-content p {
    margin-bottom: -1px;
  }

/* Contact Information */
  .contact-information {
    margin-left: 27px;
  }
}

/* Media Query @500PX */

@media (max-width: 500px) {

/* Main Container @500PX */
  .main-container {
    max-width: 500px;
    margin: 0 auto;
  }

/* Header Section @500PX */
  .parent-header .parent-nav {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }

  .parent-header .parent-nav a {
    max-width: 100%;
    align-self: center;
    font-size: 21px;
    margin-left: 65px;
    line-height: 2.05;
  }

  .parent-header .logo {
    max-width: 100%;
    align-self: center;
    margin-right: 286px;
    margin-top: 20px;
  }

  .parent-header .parent-nav .media-line {
    visibility: visible;
    border: 1px solid black;
    width: 100%;
    margin-left: -25px;
  }










}
